@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<cute ImageLink="https://th.bing.com/th/id/OIP.nOqEjZPTOaNLbcK6Lne34gHaEK?rs=1&pid=ImgDetMain"
       AlternativeText="Image Not Found">
</cute>
<cute ImageLink="~/assets/img/card.jpg" AlternativeText="Image Not Found"></cute>
